<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>HTML Forms</title>
</head>

<body>
    <form action="/login" method="post">
        <label for="name">Name:</label>
        <input type="text" placeholder="name" name="username">
        <label for="password">Password:</label>
        <input type="text" placeholder="password" name="password">
        <a href="/login">
            <button type="submit">Ok</button>
        </a>
      </form>
</body>

</html>